<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Express</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.5/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-SgOJa3DmI69IUzQ2PVdRZhwQ+dy64/BUtbMJw1MZ8t5HZApcHrRKUc4W0kG879m7" crossorigin="anonymous">
</head>
<body>
    <nav>
        <ul class="nav nav-pills">
            <li class="nav-item">
                <a class="nav-link" href="/">Home</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/about">Sobre</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/services">Serviços</a>
            </li>
        </ul>
    </nav>
    <h1>About</h1>
    <p>
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Reiciendis mollitia quod, eaque inventore ducimus debitis. Ducimus natus cum hic, animi eum et laboriosam! Labore dicta aperiam ratione vel, accusantium maxime.
    </p>
</body>
</html>